# Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

# Exercise 3 - Create a markdown cell for an introduction

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala

# Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Sci-Kit Learn
4. PyTorch
5. TenserFlow
6. SciPy

# Exercise 6 - Create a markdown cell with a table of Data Science tools

|Data Science Tools|
| ---- |
|Apache Spark|
|BigML|
|Kubernetes|
|Hadoop|
|ModelDB|

# Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python.

# Exercise 8 - Create a code cell to multiply and add numbers

In [3]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

# Exercise 9 - Create a code cell to convert minutes to hours

In [6]:
# This will convert 200 minutes to hours by diving by 60
minutes =  200

hours = minutes/60

print(hours)

3.3333333333333335

# Exercise 10 - Insert a markdown cell to list Objectives

**Objectives**
- List popular langugages for data science
- List commonly used libraries by Data Scientists
- List popular Data Science tools
- Do simple arithmetic operation in Python
- Work with markdown cells (create headers, bold texts, ordered and unordered lists, etc.)

# Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Tural Khudaverdiyev